body {
    display: flex;
    flex-direction: column;
    background-color: #FFEEEE;
    color: #222222;
    font-family: sans-serif;
    margin: 0;
}

main {
    margin: 1em 3em 1em 3em;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
}

@keyframes anime_1 {
    from {
      margin-left: -10em;
      opacity: 0%;
    }
    to {
      margin-left: 0em;
      opacity: 100%;
    }
}

header p {
    animation-duration: 1.5s;
    animation-name: anime_1;
    animation-direction: alternate;
    animation-timing-function: ease;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    min-height: 20em;
}

#about p {
    margin: 0em;
}

#resume {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#resume div {
    max-width: 25em;
}

#about #resume img {
    border-radius: 100%;
}

#projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 30em;
    padding-inline-start: 0;
}

li {
    list-style: none;
}

@keyframes anime_2 {
    from {
        margin-right: 10em;
        opacity: 0%;
    }
    to {
        margin-right: 1em;
        opacity: 100%;
    }
}

@keyframes anime_3 {
    from {
        margin-right: -100em;
    }
    to {
        margin-right: 0em;
    }
}


#projects li {
    width: 20em;
    height: 8em;
    padding: 2em;
    margin: 1em;
    /* border: 0.5em solid; */
    /* border-color: #555555; */
    background: linear-gradient(-45deg, #342377, #c3bbe2);
    border-radius: 1em;
    box-shadow: 10px 5px 10px gray;
    font-family: sans-serif;
}

#projects li {
    animation-play-state: paused;
    animation-duration: 2s;
    animation-name: anime_2;
    animation-direction: alternate;
    animation-timing-function: ease;
}

#projects {
    animation-play-state: paused;
    animation-duration: 2s;
    animation-name: anime_3;
    animation-direction: alternate;
    animation-timing-function: ease;
}

a {
    text-decoration: none;
    color: #000000;
}

#projects li a {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    color: #0000FF;
}

.textWithLine {
   width: 100%; 
   text-align: center;
   border-bottom: 2px solid #333;
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

.textWithLine span {
    font-size: 1.2em; 
    background:#FFEEEE; 
    padding:0 10px;
}

.title {
    font-size: 1.6em;
}

footer p {
    text-align: center;
    font-size: 1em;
    margin: 0;
}

footer div {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    min-height: 10em;
}

#contacts {
    display: flex;
    flex-direction: row;
    min-height: auto;
}

#contacts a {
    margin: 1em;
}

footer div p {
    margin: 1em;
}